---
layout: default
title: Home
---

<!-- <p class="message">
  I am actively seeking employment and willing to relocate!
</p> -->


<div class="w3-container w3-card w3-white w3-margin-bottom">
  <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
  {% for job in site.data.resume.experience %}
  <div class="w3-container">
    <h5 class="w3-opacity"><b>{{ job.title }} / <a href="{{ job.url }}" target="_blank">{{ job.url | remove: "https://" }}</a></b></h5>
    <h6 class="w3-text-teal"><i class="fa fa-info-circle fa-fw w3-margin-right"></i>{{ job.description }}</h6>
    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>{{ job.start }} - {% if job.end == "Present" %}<span class="w3-tag w3-teal w3-round">Now</span>{% else %}<span class="w3-tag w3-teal w3-round">{{ job.end }}</span>{% endif %}</h6>
    <ul>
      {% for item in job.highlights %}
      <li>{{ item }}</li>
      {% endfor %}
    </ul>
    <hr>
  </div>
  {% endfor %}
</div>

<div class="w3-container w3-card w3-white">
  <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-cloud fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Projects</h2>
  {% for project in site.data.resume.projects %}
  <div class="w3-container">
    <h5 class="w3-opacity"><b>{{ project.title }}{% if project.url %} / <a href="{{ project.url }}" target="_blank">{{ project.url | remove: "https://" }}</a>{% endif %}</b></h5>
    {% if project.description %}<h6 class="w3-text-teal"><i class="fa fa-info-circle fa-fw w3-margin-right"></i>{{ project.description }}</h6>{% endif %}
    {% if project.date %}<h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>{{ project.date }}</h6>{% endif %}
    <ul>
      {% for item in project.highlights %}
      <li>{{ item }}</li>
      {% endfor %}
    </ul>
    {% unless forloop.last %}<hr>{% endunless %}
  </div>
  {% endfor %}
</div>

<div class="w3-container w3-card w3-white">
  <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-graduation-cap fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
  {% for edu in site.data.resume.education %}
  <div class="w3-container">
    <h5 class="w3-opacity"><b>{{ edu.school }}</b></h5>
    <h5 class="w3-opacity"><b>{{ edu.degree }}</b></h5>
    {% if edu.gpa %}<h6 class="w3-text-teal"><i class="fa fa-check fa-fw w3-margin-right"></i>GPA: {{ edu.gpa }}</h6>{% endif %}
  </div>
  {% endfor %}
</div>
